@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
body{font-family:Rubik,Roboto,sans-serif !important;}
.emby-tab-button-active{border-bottom: 3px solid;}
/*.pageTitleWithDefaultLogo{background-image: ;}*/
.pageTitleWithLogo {background-size: cover;width: 1.9em;}
.itemsContainer, .vertical-list {
    display: -webkit-flex;
    display: flex;
	/*flex-wrap: wrap; vertical scrolling */
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px -20px;
    /*width: fit-content; breaks touch */
}