/* Variables */
:root {
    --main-color: #00a4dc;
}

/* Fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');*/
@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(NSans-L.woff2) format('woff2');
}
@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(NSans-R.woff2) format('woff2');
}
@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(NSans-M.woff2) format('woff2');
}
@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(NSans-B.woff2) format('woff2');
}

/* Various restyles */
body{font-family:'Netflix Sans',Roboto,sans-serif !important;}
/*.pageTitleWithDefaultLogo{background-image: ;}*/
.pageTitleWithLogo {background-size: cover;width: 1.9em;}
/* Need to rework the main content before these can be done.
.itemsContainer, .vertical-list {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap; vertical scrolling 
    padding: 0px 0px 0px 20px;
    margin: 0px -20px 0px -20px;
    width: fit-content; breaks touch 
}
.emby-scroller {
	padding:0;
	margin:0;
}*/

/* Color Replacement */
.backgroundContainer {
    background-color: #000;
}
.skinHeader-withBackground {
    background-color: #000;
}
@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--main-color);
    }
}
.paper-icon-button-light:active:not(:disabled) {
    color: var(--main-color);
}
.paper-icon-button-light.show-focus:focus {
    color: var(--main-color);
}
.button-submit {
    background: var(--main-color);
}
.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: var(--main-color);
}
.itemSelectionPanel {
    border: 1px solid var(--main-color);
}
.selectionCommandsPanel {
    background: var(--main-color);
}
.upNextDialog-countdownText {
    color: var(--main-color);
}
.alphaPickerButton-tv:focus {
    background-color: var(--main-color);
}
.progressring-spiner {
    border-color: var(--main-color);
}
.button-flat:hover {
    color: var(--main-color);
}
.button-link {
    color: var(--main-color);
}
.emby-input:focus,
.emby-textarea:focus {
    border-color: var(--main-color);
}
.emby-select-withcolor:focus {
    border-color: var(--main-color) !important;
}
.emby-select-tv-withcolor:focus {
    background-color: var(--main-color) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
    border-color: var(--main-color);
}
.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
    background-color: var(--main-color);
}
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
    border-color: var(--main-color);
}
.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
    background: var(--main-color);
}
.navMenuOption-selected {
    background: var(--main-color) !important;
}
.emby-button.show-focus:focus {
    background: var(--main-color);
}
.emby-tab-button.show-focus:focus {
    color: var(--main-color);
}
.emby-tab-button:hover {
    color: var(--main-color);
}
.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: var(--main-color) !important;
}
.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: var(--main-color);
}
.guide-date-tab-button.show-focus:focus {
    background-color: var(--main-color);
}
.buttonActive {
    color: var(--main-color) !important;
}
.card:focus .cardBox.visualCardBox,
.card:focus .cardBox:not(.visualCardBox) .cardScalable {
    border-color: var(--main-color) !important;
}
.metadataSidebarIcon {
    color: var(--main-color);
}
.emby-button.detailFloatingButton {
    background-color: var(--main-color);
}
.layout-tv .emby-button.detailFloatingButton:focus {
    color: var(--main-color);
}
.collapseContent, .formDialogFooter:not(.formDialogFooter-clear), .formDialogHeader:not(.formDialogHeader-clear), .paperList, .visualCardBox {
    background-color: #181818;
    border-radius: 0.4em;
}
.listItem-border {
    border-color: #181818 !important;
}
.mainDrawer, .drawer-open {
    background-color: #000;
}

/* Borders */
.cardOverlayContainer, .cardContent, .cardBox:not(.visualCardBox) .cardPadder  {
    border-radius: 0.4em;
}
.emby-tab-button-active{
    border-bottom: 3px solid #fff !important;
}
.emby-tab-button {
    border-bottom: 3px solid transparent;
}