/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');*/

@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(NSans-L.woff2) format('woff2');
}
@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(NSans-R.woff2) format('woff2');
}
@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(NSans-M.woff2) format('woff2');
}
@font-face {
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(NSans-B.woff2) format('woff2');
}

body{font-family:'Netflix Sans',Roboto,sans-serif !important;}
.emby-tab-button-active{border-bottom: 3px solid;}
/*.pageTitleWithDefaultLogo{background-image: ;}*/
.pageTitleWithLogo {background-size: cover;width: 1.9em;}
/* Need to rework the main content before these can be done.
.itemsContainer, .vertical-list {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap; vertical scrolling 
    padding: 0px 0px 0px 20px;
    margin: 0px -20px 0px -20px;
    width: fit-content; breaks touch 
}
.emby-scroller {
	padding:0;
	margin:0;
}*/